<div class="mt-5 m-auto shadow p-4 rounded" style="max-width: 600px;">
  <!-- Form Header -->
  <h1 class="text-center mb-4">Update "{{subcategory.name}}" Subcategory</h1>

  <!-- Form -->
  <form [formGroup]="subcategoryForm" (ngSubmit)="updateSubcategory(subcategory._id,subcategoryForm)">
    
    <!-- Subcategory Name Input -->
    <div class="mb-3">
      <input formControlName="name" class="form-control" type="text" placeholder="Subcategory Name" [value]="subcategory.name">
    </div>

    <!-- Category Dropdown -->
    <div class="mb-3">
      <select formControlName="category" class="form-select" aria-label="Select category">
        <option disabled>Choose category</option>
        @for(category of categories; track category._id){
        <option [value]="category?._id" [selected]="subcategory?.category?._id === category?._id">{{category?.name}}</option>
        }
      </select>
      @if(subcategoryError!==''){
      <div class="text-danger mt-2">
        <p>{{subcategoryError}}</p>
      </div>
      }
    </div>

    <!-- Action Buttons -->
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary me-3">Update</button>
      <a routerLink="/layout/subcategories" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>