<div class="bg-black text-white container mt-4 d-flex justify-content-around align-items-center">
  <div class="text-center m-3">
    <h1>Best Seller Products</h1>
  </div>
  <img src="images/iPhone.svg" class="d-md-block d-none" alt="iPhone">
</div>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
    @for(product of products; track product._id) {
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img [src]="imgDomain + product.cover" class="card-img-top" [alt]="product.name">
          <div class="card-body">
            <h5 class="card-title text-truncate">{{product.name}}</h5>
            <p class="card-text">
              <span class="fw-bold">{{product.ratingAverage| number:'1.1-1'}}</span>
              <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
              <small>({{ product.ratingCount }} reviews)</small>
            </p>
            <p class="card-text text-muted">{{product.description | description: 15}}</p>
            <p class="card-text fw-bold">Price: {{product.price | currency}}</p>
          </div>
          <div class="card-footer bg-white">
            <div class="d-flex justify-content-between">
              <button [routerLink]="['/products',product._id]" class="btn btn-outline-primary">Details</button>
              <button [disabled]="!isLogin" (click)="addToCart(product._id)" class="btn btn-success">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

@if (!products.length) {
  <div class="text-secondary text-center mt-3"><h3>Loading.....</h3></div>
}

<div class="state" [class.disable]="this.state === '' ">
  {{this.state}}
</div>