<div class="mt-5 m-auto shadow p-4 rounded" style="max-width: 600px;">
  <!-- Form Header -->
  <h1 class="text-center mb-4">Add Category</h1>

  <!-- Form -->
  <form [formGroup]="categoryForm" (ngSubmit)="createCategory(categoryForm)">
    <!-- Category Name Input -->
    <div class="mb-3">
      <input formControlName="name" class="form-control" type="text" placeholder="Category Name">
      @if(categoryForm.get('name')?.errors!==null && categoryForm.get('name')?.touched){
      <div class="mt-2">
        @if(categoryForm.get('name')?.errors?.['required']){
        <p class="text-danger">Category name is required</p>}
      </div>
      }
      @if(categoryError!==''){
      <div class="text-danger mt-2">
        <p>{{categoryError}}</p>
      </div>
      }
    </div>

    <!-- Action Buttons -->
    <div class="text-center mt-4">
      <button (click)="createCategory(categoryForm)" class="btn btn-primary me-3">Create</button>
      <a routerLink="/layout/categories" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>