<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-5">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/profile.php?id=100022563641313" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://wa.me/+201009051804" class="me-4 text-reset">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="https://x.com/aliseleem2002" class="me-4 text-reset">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="https://www.instagram.com/_aliseleem/" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="www.linkedin.com/in/aliseleem" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/AliSeleem" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright: Ali Seleem
  </div>
</footer>